@inherits System.Web.Mvc.WebViewPage

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<script>
    $(document).ready(function () {

        //récupères model pour ma page, ici ResetPasswordModel

        var model = JSON.parse('@Html.Raw(Json.Encode(Model))');

        //initialise les fonctions de validations de formulaire basiques (email, minlength...) situés dans le script common

        initValidator();
     
        if (model != null) {

            // verif si model de type AResponse avec error message

            if (model.hasOwnProperty('errorMessage')) {
                Swal.fire({
                    icon: 'error',
                    title: model.errorMessage,
                    text: '',
                });
                $("#formMail").removeClass('d-none');
                $('#formReset').addClass('d-none');
            }
            else {
                $("#formMail").addClass('d-none');
                $('#formReset').removeClass('d-none');
                validateNewPassword(model);
            }
           
        }
        else {
            $("#formMail").removeClass('d-none');
            $('#formReset').addClass('d-none');
            validateMail();
        }
    })
</script> 

<div id="formMail" class="card mx-auto mt-5 d-none">
    <div class="card overflow-hidden">

        <div class="bg-light row p-2">

            <div class="col-9">
                <h4>Mot de passe oublié? </h4>
                <p>Saisissez l'adresse mail de votre compte client</p>
            </div>

            <div class="col-3">
                <i class="fa fa-lock fa-2x"></i>
            </div>

        </div>

        <div class="card-body">

            <form id="formResetPasswordMail" action="../api/userSubscriber/getUserByMail" method="post">

                <div class="form-group">
                    <input type="email" class="form-control" id="mailClient" aria-label="Email" name="mail_client" placeholder="Email" required>
                </div>

                <button type="submit" class="btn btn-primary mt-3">Continuer</button>
            </form>

        </div>
    </div>
</div>

<div id="formReset" class="card mx-auto mt-5 d-none">
    <div class="card overflow-hidden">

        <div class="bg-light row p-2">

            <div class="col-9">
                <h4>Vous vous apprêtez à changer le mot de passe de l'adresse <u id="mailUser"></u>.</h4>
                
            </div>

            <div class="col-3">
                <i class="fa fa-lock fa-2x"></i>
            </div>

        </div>

        <div class="card-body">

            <form id="formResetPassword" action="../api/userSubscriber/getUserByMail" method="post">

                <div class="form-group">
                    <span>Niveau sécurité password : <span id="colorPassword" class="bg-danger text-white">faible</span></span>
                    <div class="input-group">
                        <input type="password" class="form-control" id="newPassword" aria-label="Nouveau Password" name="new_password" placeholder="Nouveau mot de passe" required minlength="5" maxlength="32">
                        <div id="affichePassword" class="input-group-append">
                            <span class="input-group-text">
                                <img src="~/media/eye-closed.svg" alt="visibillityPassword"/>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="confirmNewPassword" aria-label="Nouveau Password" name="confirm_new_password" placeholder="Confirmer nouveau mot de passe" required minlength="5" maxlength="32">
                </div>
                

                <button type="submit" class="btn btn-primary mt-3">Valider</button>
            </form>

        </div>
    </div>
</div>

<script src="~/Scripts/src/formResetPasswordValidate.js"></script>
