@inherits System.Web.Mvc.WebViewPage

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<style>
    html {
        position: relative;
        min-height: 100%;
        height: 100%;
    }

    body {
        height: 100%;
    }

    .hidden {
        display: none !important;
    }

    .invisible {
        visibility: hidden;
    }

    .wrapper {
        display: flex;
    }

    .mxw500 {
        max-width: 500px !important;
    }

    .body-small .filigran {
        background-image: none;
        display: none;
    }

    .body-small .inner-bg {
        padding: 100px 0 70px;
    }

    .modal-title {
        color: whitesmoke;
    }

    .bg-blue {
        background-color: #225072;
    }

    .bg-secondary {
        background-color: #2B6B87;
    }

    .bg-white {
        background-color: #ffffff;
    }

    .bg-slide1 {
        background-image: url(../media/banner-bg.jpg);
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
        background-size: cover;
    }

    .bg-success-alt {
        background-color: #b0c915;
    }

    .bg-footer {
        background-color: rgba(255, 255, 255, 0.25) !important;
    }


    .alt-color {
        background-color: #2B6B87 !important;
    }

    .card {
        border: 0;
        margin-bottom: 30px;
        margin-top: 30px;
        border-radius: 6px;
        color: #333;
        background: #fff;
        width: 100%;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    }

    .card-header {
        margin: 0 15px;
        padding: .75rem 1.25rem !important;
        position: relative;
    }

    .card-disabled {
        opacity: 0.33;
    }
</style>

<style>

    /*ajout style pour etape progression, bouton survole, et couleur input*/
    .sizing {
        transform: scale(1.5);
    }

    .rond {
        height: 40px;
        width: 40px;
    }

    .bg-step-progress {
        background-color: rgba(74,117,129,1);
    }

    .border-step-progress {
        border: 1px solid rgba(74,117,129,1) !important;
    }

    .text-step-progress {
        color: rgba(74,117,129,1);
    }



    .btn:hover {
        transform: scale(1.05);
    }

    .input-form {
        border: 1px solid rgba(172,214,36,255);
        border-radius: 5px;
    }

    .form-control {
        border: 1px solid rgb(38,91,105) !important;
    }

        .form-control:focus, .input-password:focus, select:focus {
            outline: none;
            border: 3px solid rgb(38,91,105) !important;
        }

    textarea:hover,
    input:hover,
    textarea:active,
    input:active,
    textarea:focus,
    input:focus,
    button:focus,
    button:active,
    button:hover,
    label:focus,
    .btn:active,
    .btn.active {
        outline: 0px !important;
        -webkit-appearance: none;
        box-shadow: none !important;
    }

    /***************************************************************************fin ajout*/

    .md-skin .main-content {
        background-color: rgba(208, 208, 208, 0.3);
    }

    .md-skin .card {
        box-shadow: 1px 3px 4px 1px rgb(0 0 0 / 10%);
        cursor: pointer;
        border-top: 7px solid #014051;
    }

    .md-skin .page-footer {
        background-color: #4a757e;
        z-index: 999;
    }

    .md-skin .help-block, .notice-field {
        color: rgb(227 79 121);
    }

    .md-skin .page-footer {
        color: white;
    }

    .md-skin .grecaptcha-badge {
        z-index: 99999;
    }

    [type="radio"].radio-titre {
    display: none;
}

    [type="radio"].radio-titre + label {
        padding: 0.3rem 0.5rem;
        border: 1px solid rgb(38,91,105);
        border-radius: 10%;
    }

    [type="radio"].radio-titre:checked + label {
        border: 3px solid rgb(38,91,105);
        background-color: rgba(38,91,105,0.2);
        border-radius: 10%;
    }
    </style>

                <script>



                    function validateMail(mail, callback) {


                        return getMethod("../Login/ValidateMail?mail=" + mail, null, function (result) {

                            if (result.errorCode == 400 || result.errorCode == 500) {

                                Swal.fire({
                                    icon: 'error',
                                    title: result.errorMessage,
                                    text: '',
                                });

                            }

                            if (callback && typeof (callback) === "function") { callback(result); }
                        })

                    }

                    function validateSiret(siret, callback) {


                        return getMethod("../Login/ValidateSiret?siret=" + siret, null, function (result) {

                            if (result.errorCode == 400 || result.errorCode == 500) {

                                Swal.fire({
                                    icon: 'error',
                                    title: result.errorMessage,
                                    text: '',
                                });

                            }

                            if (callback && typeof (callback) === "function") { callback(result); }
                        })

                    }


                    function test() {
                        var token = $('input[name="__RequestVerificationToken"]').val();
                        var company = {
                            "Name": "SOFTENA",
                            "FirstName": ".",
                            "Address": {
                                "Address": "Centre d'Affaires Koï", "AddressPlus": " ", "PC": 53, "City": "Louverné", "Country": "France",
                                "Categ": "INVOICE"
                            },
                            "CustomSiret": "111 111 111 11111"
                        };

                        return postMethod("../Landing/RegisterClient", company, function (result) {

                            if (result.isSuccess) {
                                Swal.fire(
                                    'Votre compte est enregistré.',
                                    '',
                                    'success'
                                );
                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: result.errorMessage,
                                    text: '',
                                });
                            }

                        });
                    }


                    function validateFormCreaContact(form) {

                        let address = {
                            Address: $("#adresseEntreprise").val().trim(),
                            AddressPlus: ($("#complementAdresseEntreprise").val() || " "),
                            PC: parseInt($("#codePostalEntreprise").val()),
                            City: $("#villeEntreprise").val().trim(),
                            Country: $("#pays").val().trim(),
                            Categ: "INVOICE"
                        }

                        console.debug(address);

                        let contact = {
                            Title: $(form).find("input[name=titre]:checked").val().trim(),
                            Name: $("#contactNom").val().trim(),
                            FirstName: $("#contactPrenom").val().trim(),
                            Gsm: $("#telephonePortable").val().trim(),
                            Email: $("#mail").val().trim(),
                            ContactType: "Contact Client",
                            Role: "CLIENT",
                            //password: $("#password").val().trim(),
                            //companyName: $("#entrepriseNom").val().trim(),
                            Address: address,
                            IsDefault: true,
                        }

                        console.debug(contact);

                        var tabContact = new Array();
                        tabContact.push(contact);

                        var tabAbonnement = new Array();
                        tabAbonnement.push($("#aboId").attr("value"));

                        let company = {
                            Name: $("#entrepriseNom").val().trim(),
                            FirstName: ".",
                            Address: address,
                            //legalStatus: $("#formeJuridique").val(),
                            CustomSiret: $("#numeroSiret").val().trim(),
                            //CContacts: tabContact,
                            //CAbonnement: tabAbonnement,
                            MainContact: contact
                        };

                        console.debug(company);


                        Swal.fire('Enregistrement de votre compte...');


                        return postMethod("../Login/RegisterClient", company, function (result) {

                            if (result.isSuccess) {
                                Swal.fire(
                                    'Votre compte est enregistré.',
                                    '',
                                    'success'
                                );
                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: result.errorMessage,
                                    text: '',
                                });
                            }

                        });

                    }

                    function initValidator(selector, callback) {
                        if (jQuery.validator) {
                            $.extend($.validator.messages, {
                                '*': "Valeur incorrecte",
                                required: "Ce champ est obligatoire",
                                url: "Adresse URL invalide",
                                email: "Adresse email invalide",
                                date: "Date invalide",
                                dateISO: "Date invalide ( ISO ).",
                                number: "Valeur numérique invalide",
                                digits: "Chiffres uniquement",
                                creditcard: "Numéro de carte incorrecte",
                                equalTo: "Les 2 champs ne correspondent pas",
                                accept: "Extension invalide",
                                remote: "Ce champ nécessite d'être corrigé",
                                maxlength: jQuery.validator.format("Ce champ ne doit pas dépasser {0} caractère(s)."),
                                minlength: jQuery.validator.format("Ce champ nécessite {0} caractère(s) au minimum"),
                                rangelength: jQuery.validator.format("Ce champ nécessite entre {0} and {1} caractère(s)"),
                                range: jQuery.validator.format("La valeur doit être comprise entre {0} et {1}"),
                                max: jQuery.validator.format("La valeur doit être inférieure ou égale à {0}"),
                                min: jQuery.validator.format("La valeur doit être supérieure ou égale à {0}")
                            });


                            $.validator.addMethod("pattern", function (value, element, param) {

                                switch ($(element).attr("pattern")) {
                                    case "alpha": param = /^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$/u; break;
                                    case "digits": param = /^[0-9 ]+$/; break;
                                    case "alphaDigits": param = /^[a-zA-Z0-9àáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð\s, '-]*$/u; break;
                                    case "phone": param = /^(?:(?:\+|00)33[\s.-]{0,3}(?:\(0\)[\s.-]{0,3})?|0)[1-9](?:(?:[\s.-]?\d{2}){4}|\d{2}(?:[\s.-]?\d{3}){2})$/u; break;
                                    case "ape": param = /^[0-9]{4}[A-Za-z]$/; break;
                                }

                                if (this.optional(element)) {
                                    return true;
                                }

                                return param.test(value);
                            }, "Ce champ n\'a pas un format valide.");


                            $(selector).validate({
                                rules: {
                                    "confirmPassword": {
                                        equalTo: "#password"
                                    },
                                },
                                lang: 'fr',
                                errorElement: 'span',
                                errorClass: 'help-block',
                                highlight: function (element, errorClass, validClass) {
                                    $(element).removeClass("success").addClass("error animate__headShake");
                                },
                                unhighlight: function (element, errorClass, validClass) {
                                    $(element).removeClass("error animate__headShake").addClass("success");
                                },
                                showErrors: function (errorMap, errorList) {
                                    this.defaultShowErrors();
                                },
                                errorPlacement: function (error, element) {
                                    if (element.parent('.input-group').length) {
                                        error.insertAfter(element.parent());
                                    } else {
                                        error.insertAfter(element);
                                    }
                                },
                                success: function (label) {
                                },
                                submitHandler: function (form) {
                                    let indexStep = parseInt($(form).data("current-step")) || 0;
                                    switch (indexStep) {
                                        case 1:
                                            Swal.fire({
                                                title: 'Vérification des informations...',
                                                showConfirmButton: false
                                            })
                                            validateMail($("#mail").val(), function (result) {
                                                if (result.isSuccess) {
                                                    Swal.close();
                                                    $(form).find(".step-" + indexStep).addClass("hidden");
                                                    $("#step-progress").find(".step-progress-" + indexStep).removeClass("bg-step-progress text-light").addClass("border border-step-progress text-step-progress");
                                                    indexStep++;
                                                    $(form).find(".step-" + indexStep).removeClass("hidden");
                                                    $("#step-progress").find(".step-progress-" + indexStep).addClass("bg-step-progress text-light").removeClass("text-step-progress");
                                                    $(form).data("current-step", indexStep);
                                                }
                                            });
                                            break;
                                        case 2:
                                            Swal.fire({
                                                title: 'Vérification des informations...',
                                                showConfirmButton: false
                                            })
                                            validateSiret($("#numeroSiret").val(), function (result) {
                                                if (result.isSuccess) {
                                                    Swal.close();
                                                    $(form).find(".step-" + indexStep).addClass("hidden");
                                                    $("#step-progress").find(".step-progress-" + indexStep).removeClass("bg-step-progress text-light").addClass("border border-step-progress text-step-progress");
                                                    indexStep++;
                                                    $(form).find(".step-" + indexStep).removeClass("hidden");
                                                    $("#step-progress").find(".step-progress-" + indexStep).addClass("bg-step-progress text-light").removeClass("text-step-progress");
                                                    $(form).data("current-step", indexStep);
                                                }
                                            });
                                            break;
                                        case 3:
                                            grecaptcha.ready(function () {
                                                grecaptcha.execute('6LdaTyMeAAAAANrn0l6DrERLitlRSt7ECkolJFzO', { action: 'submit' }).then(function (token) {
                                                    // Add your logic to submit to your backend server here.
                                                    if (callback && typeof (callback) === "function") { callback(form); }
                                                });
                                            });


                                            break;
                                    }
                                },
                                invalidHandler: function (event, validator) {
                                    var errors = validator.numberOfInvalids();
                                },
                                onkeyup: false,
                            })
                        }
                    }

                    function localPageInit() {


                        //initialise les fonctions de validations de formulaire basiques (email, minlength...) situés dans le script common
                        //validation des champs mail et siret si déjà présent en bdd
                        //validationAsynch($("#formCreaContact"));

                        //verification niveau sécurité du password et listener onClick sur oeil pour visualiser password
                        //checkPassword($("#password"), $('#affichePassword'));

                        //formatage des input type siret, num téléphone et code postal

                        //valorisation input hidden avec l'id de l'abonnement sélectionné pour enregistrement
                        //$("#aboId").attr("value", model.id)

                        //remplissage du champ récapitulatif de l'abonnement auquel l'utilisateur va souscrire
                        var model = null;
                        bindSubscriptionItems("#abonnement", model);

                        test2();
                    }



                    $(document).ready(function () {

                        $("#formCreaContact").data("current-step", 1);


                        $(".next-btn").click(function () {

                            $(this).submit();

                        });

                        $(".previous-btn").click(function () {

                            let indexStep = parseInt($("#formCreaContact").data("current-step")) || 0;

                            $(".step-" + indexStep).addClass("hidden");
                            $("#step-progress").find(".step-progress-" + indexStep).removeClass("bg-step-progress text-light").addClass("border border-step-progress text-step-progress");
                            indexStep--;

                            $(".step-" + indexStep).removeClass("hidden");
                            $("#step-progress").find(".step-progress-" + indexStep).addClass("bg-step-progress text-light").removeClass("text-step-progress");
                            $("#formCreaContact").data("current-step", indexStep);
                        })


                        $(".mask-tel-fr").mask('00 00 00 00 00');
                        $(".mask-postCode").mask("00000");
                        $(".mask-siret").mask("000 000 000 00000");

                        initValidator("#formCreaContact", validateFormCreaContact);

                        $(".filigran").addClass("bg-oskala1");


                    });
                </script>


                <div class="mt-3 col-10 row d-flex justify-content-between">



                    <div class="col-lg-4 row align-items-center">
                        <div class="card col-lg-12">
                            <p class="h4 mb-3 mt-3 color-text">Détails offre:</p>
                            <div data-bind-prop="OfferThemeColor" data-bind-src="style-color">
                                <h2 data-bind-prop="Name" class=" name-model font-weight-bolder ml-3">Oskala RDI Starter</h2>
                                <h5 data-bind-prop="Description">Sans engagement</h5>
                                <p><strong class="card-title">Modules inclus</strong></p>
                                <div class="pb-2" data-bind-prop="CBenefits" data-bind-src="model">
                                    <div class="item-model d-inline-block w-100 mb-2 hidden" formule-item32"><img data-bind-prop-item="Avatar" data-bind-src="src" class="float-left border rounded-circle formule-item32" /><div class="card-text" data-bind-prop-item="BenefitName">License Gestionnaire Partiel</div></div>
                                    <div class="item-model d-inline-block w-100 mb-2 hidden" formule-item32"><img data-bind-prop-item="Avatar" data-bind-src="src" class="float-left border rounded-circle formule-item32" /><div class="card-text" data-bind-prop-item="BenefitName">License Gestionnaire Partiel</div></div>
                                    <div class="item-model d-inline-block w-100 mb-2 hidden" formule-item32"><img data-bind-prop-item="Avatar" data-bind-src="src" class="float-left border rounded-circle formule-item32" /><div class="card-text" data-bind-prop-item="BenefitName">License Gestionnaire Partiel</div></div>
                                    <div class="item-model d-inline-block w-100 mb-2 hidden" formule-item32"><img data-bind-prop-item="Avatar" data-bind-src="src" class="float-left border rounded-circle formule-item32" /><div class="card-text" data-bind-prop-item="BenefitName">License Gestionnaire Partiel</div></div>
                                    <div class="item-model d-inline-block w-100 mb-2 hidden" formule-item32"><img data-bind-prop-item="Avatar" data-bind-src="src" class="float-left border rounded-circle formule-item32" /><div class="card-text" data-bind-prop-item="BenefitName">License Gestionnaire Partiel</div></div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6 mt-3 mt-lg-0">

                        <div id="step-progress" class="col-12">
                            <div class="col-6 row h-100 mx-auto d-flex justify-content-between">
                                <div class="step-progress-1 bg-step-progress rounded-circle rond text-light align-items-center row d-flex justify-content-center font-weight-bolder"><span class="sizing">1</span></div>

                                <div class="step-progress-2 border border-step-progress rounded-circle rond  align-items-center text-step-progress row d-flex justify-content-center font-weight-bolder"><span class="sizing">2</span></div>

                                <div class="step-progress-3 border border-step-progress rounded-circle rond  align-items-center text-step-progress row d-flex justify-content-center font-weight-bolder"><span class="sizing">3</span></div>
                            </div>
                        </div>


                        <div class="d-flex justify-content-center mt-3 row">


                            <form id="formCreaContact" class="col-lg-12">
                                <input name="__RequestVerificationToken" type="hidden" value="wSlKFWmun55Zm1zoNjTZnEMhSROGAbVUkn1LlleAWT4P9qtt04QKQzcKWogA7Wm1RG8HQ6vcs9345hXWvJG_7id6zgLeBSvOTH4AJRsZYSw1" />
                                <!--infos personnelles-->
                                <div class="step-1 card p-2 animate__animated animate__backInDown">

                                    <p class="h4 mb-3 mt-3 color-text">Informations personnelles :</p>

                                    <div class="col-12 ml-3">

                                        <input type="radio" name="titre" class="radio-titre" value="Mr" id="mr" checked>
                                        <label for="mr">Mr</label>
                                        <input type="radio" name="titre" class="radio-titre" value="Mme" id="mme">
                                        <label for="mme">Mme</label>
                                        <input type="radio" name="titre" class="radio-titre" value="Autre" id="autre">
                                        <label for="autre">Autre</label>

                                    </div>

                                    <div class="col-12">
                                        <div class="form-group col-12">
                                            <label for="contactNom" class="important-field">Nom</label><br />
                                            <input type="text" class="form-control col-md-6 text-uppercase animate__animated" id="contactNom" name="last-name" pattern="alpha" placeholder="Nom" minlength="2" maxlength="50" required>
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="prenom" class="important-field">Prénom</label><br />
                                            <input type="text" class="form-control col-md-6 text-capitalize animate__animated" id="contactPrenom" name="first-name" pattern="alpha" placeholder="Prénom" minlength="2" maxlength="50" required>
                                        </div>
                                    </div>

                                    <div class="form-row hidden">
                                        <div class="form-group col-md-6">
                                            <label for="fonctionContact">Fonction au sein de l'entreprise</label>
                                            <input type="text" class="form-control animate__animated" id="fonctionContact" name="fonction-contact" placeholder="Fonction" minlength="2" maxlength="50">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group col-md-4 hidden">
                                            <label for="telephoneFixe">Téléphone fixe</label>
                                            <input type="tel" class="form-control animate__animated" id="telephoneFixe" name="phone" placeholder="Téléphone fixe" minlength="2" maxlength="50">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="telephonePortable" class="important-field">Téléphone portable</label><br />
                                            <input type="tel" class="form-control col-md-4 mask-tel-fr animate__animated" id="telephonePortable" name="mobile-phone" pattern="phone" placeholder="Numéro portable" minlength="2" maxlength="50" required>
                                        </div>

                                    </div>

                                    <div class="col-12">
                                        <div class="form-group col-12">
                                            <label for="mail" class="important-field">Adresse mail</label><br />
                                            <input type="email" class="form-control col-md-8 animate__animated" id="mail" name="mail" placeholder="Adresse mail" minlength="2" maxlength="50" required>
                                        </div>
                                    </div>

                                    <div class="input-group mb-3 hidden">
                                        <div class="col-12">
                                            <span>Photo</span>
                                        </div>
                                        <div class="custom-file col-md-4">
                                            <input type="file" class="custom-file-input" id="photoContact" name="photo_contact">
                                            <label class="custom-file-label" for="photoContact">Choisir une photo de profil</label>
                                        </div>
                                    </div>

                                    <div class="form-group hidden">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="ok_mail" id="okMail" value="true" checked>
                                            <label class="form-check-label" for="okMail">
                                                J'accepte de recevoir des notifications par mail de l'application
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex flex-row-reverse">
                                        <div type="submit" id="btnPerso" class="btn bg-success-alt rounded-circle next-btn"><i class="text-light fas fa-arrow-right"></i></div>
                                    </div>

                                    <label class="d-flex flex-row-reverse notice-field">* Champs obligatoires</label>

                                </div>


                                <!--infos entreprise-->

                                <div class="step-2 hidden card p-2 animate__animated animate__backInDown">

                                    <p class="h4 mb-3 mt-3 color-text">Informations entreprise :</p>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="entrepriseNom" class="important-field">Nom de l'entreprise</label><br />
                                            <input type="text" class="form-control col-md-12 capitalize animate__animated" id="entrepriseNom" pattern="alphaDigits" name="company-name" placeholder="Nom de l'entreprise" minlength="2" maxlength="50" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="formeJuridique" class="important-field">Forme Juridique</label><br />
                                            <select class="form-control col-md-12" id="formeJuridique">
                                                <option value="EI">EI</option>
                                                <option value="EIRL">EIRL</option>
                                                <option value="EURL">EURL</option>
                                                <option selected="selected" value="SARL">SARL</option>
                                                <option value="SA">SA</option>
                                                <option value="SAS">SAS</option>
                                                <option value="SASU">SASU</option>
                                                <option value="SNC">SNC</option>
                                                <option value="SCOP">SCOP</option>
                                                <option value="SCA">SCA</option>
                                                <option value="SCS">SCS</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-row hidden">

                                        <div class="form-group col-md-6">
                                            <label for="codeApe">Code APE *</label>
                                            <input type="text" class="form-control animate__animated" id="codeApe" name="code_ape" placeholder="Code APE" minlength="5" maxlength="5">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div id="divNumeroSiret" class="form-group col-md-6">
                                            <label for="numeroSiret" class="important-field">Numéro siret</label>
                                            <input type="text" class="form-control col-md-12 mask-siret animate__animated" id="numeroSiret" pattern="digits" name="siret-number" placeholder="Numéro siret" minlength="14" maxlength="14" required>
                                        </div>
                                        <div class="form-group col-md-6 hidden">
                                            <label for="numeroTva" class="important-field">Numéro TVA</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">FR</span>
                                                </div>
                                                <input type="text" class="form-control animate__animated" id="numeroTva" name="numero_tva" placeholder="Numéro TVA" minlength="11" maxlength="11">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row hidden">
                                        <div class="form-group col-md-6">
                                            <label for="siteWeb">Adresse site web</label>
                                            <input type="text" class="form-control animate__animated" id="siteWeb" name="site_web" placeholder="Adresse site web">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="adresseEntreprise" class="important-field">Adresse entreprise</label>
                                        <input type="text" class="form-control col-md-12 animate__animated" id="adresseEntreprise" pattern="alphaDigits" name="company-adress" placeholder="Adresse de l'entreprise" minlength="2" maxlength="100" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="complementAdresseEntreprise">Complément d'adresse</label>
                                        <input type="text" class="form-control col-md-12 animate__animated" id="complementAdresseEntreprise" pattern="alphaDigits" name="company-adress2" placeholder="Complément d'adresse de votre entreprise" minlength="2" maxlength="100">
                                    </div>

                                    <div class="form-row">

                                        <div class="form-group col-sm-6 col-md-3">
                                            <label for="codePostalEntreprise" class="important-field">Code postal</label>
                                            <input type="number" class="form-control col-md-12 mask-postCode animate__animated" id="codePostalEntreprise" name="company-post-code" placeholder="00000" minlength="5" maxlength="5" required>
                                        </div>

                                        <div class="form-group col-sm-6 col-md-5">
                                            <label for="city" class="important-field">Ville</label>

                                            <select id="companyCity" name="company-city" class="form-control col-md-12 capitalize animate__animated" required>
                                                <option selected value="Paris">Paris</option>
                                                <option value="Laval">Laval</option>
                                                <option value="Louverné">Louverné</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-6 col-md-4">
                                            <label for="pays" class="important-field">Pays</label>
                                            <select name="company-country" id="pays" class="form-control col-md-12 capitalize animate__animated" required>
                                                <option selected value="France">France</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="input-group mb-3 hidden">
                                        <div class="col-12">
                                            <span>Logo</span>
                                        </div>
                                        <div class="custom-file col-md-4">
                                            <input type="file" class="custom-file-input" id="logoEntreprise" name="logo_entreprise">
                                            <label class="custom-file-label" for="logoEntreprise">Choisir un logo</label>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex flex-row-reverse">
                                        <div id="btnCompany" class="btn bg-success-alt rounded-circle next-btn"><i class="text-light fas fa-arrow-right"></i></div>
                                        <div class="btn bg-success-alt rounded-circle previous-btn mr-2"><i class="text-light fas fa-arrow-left"></i></div>
                                    </div>

                                    <label class="d-flex flex-row-reverse notice-field">* Champs obligatoires</label>

                                </div>

                                <!-- password-->
                                <div class="step-3 card p-2 hidden animate__animated animate__backInDown">

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="password" class="important-field">Mot de passe<span class="d-flex flex-row-reverse"><span id="colorPassword" class="bg-danger text-white">faible</span>Niveau sécurité password : </span></label>
                                            <div class="input-group">
                                                <input type="password" class="form-control col-10 animate__animated" id="password" placeholder="Mot de passe" aria-label="Nouveau Password" name="password" required minlength="5" maxlength="32">
                                                <div id="affichePassword" class="input-group-append">
                                                    <span class="input-group-text clickable">
                                                        <i class="fas fa-eye-slash fa-lg"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-11">
                                            <label for="confirmPassword" class="important-field">Confirmer mot de passe</label>
                                            <input type="password" class="form-control col-12 animate__animated" id="confirmPassword" name="confirmPassword" placeholder="Confirmer mot de passe" required minlength="5" maxlength="32">
                                        </div>
                                    </div>

                                    <div class="g-recaptcha" data-sitekey="la_clé_du_site"></div>

                                    <div class="form-group d-flex flex-row-reverse">
                                        <button id="submitCrea" type="submit" class="text-light btn bg-success-alt">S'inscrire</button>
                                        <div class="btn bg-success-alt rounded-circle previous-btn mr-2"><i class="text-light fas fa-arrow-left"></i></div>
                                    </div>

                                    <label class="d-flex flex-row-reverse notice-field">* Champs obligatoires</label>

                                </div>

                            </form>

                        </div>
                    </div>

                </div>
            
